@import '../../../scss/custom';

.Planets {
  height: 100;
  width: 100%;

  .solar-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .sun-container {
    flex-basis: 15%;
    width: 100%;
  }

  .planets-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: $text-white;

    .detail {
      position: absolute;
      z-index: 0;
      top: 10%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .detail-line {
        width: 1px;
        background-color: $text-white;
      }
      .detail-text {
        text-align: center;
        font-size: 1rem;
        padding-bottom: 1rem;
      }
    }

    .mercury-container,
    .venus-container,
    .earth-container,
    .mars-container,
    .uranus-container,
    .neptune-container {
      padding-right: 1%;
    }

    .mercury-container,
    .venus-container,
    .earth-container,
    .mars-container,
    .jupiter-container,
    .saturn-container,
    .uranus-container,
    .neptune-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        transition: 0.4s ease-in-out;
        &:hover {
          transform: scale(1.08);
        }
      }
    }

    .mercury-container {
      flex-basis: 4%;
      .mercury-line {
        height: 28%;
      }
    }
    .venus-container {
      flex-basis: 7%;
      .venus-line {
        height: 25%;
      }
    }
    .earth-container {
      flex-basis: 7%;
      .earth-line {
        height: 25%;
      }
    }
    .mars-container {
      flex-basis: 5%;
      .mars-line {
        height: 27%;
      }
    }
    .jupiter-container {
      flex-basis: 21%;
      padding-left: 2%;
      .jupiter-line {
        height: 12%;
      }
    }
    .saturn-container {
      flex-basis: 34%;
      .saturn-line {
        height: 15%;
      }
    }
    .uranus-container {
      flex-basis: 11%;
      .uranus-line {
        height: 20.5%;
      }
    }
    .neptune-container {
      flex-basis: 11%;
      .neptune-line {
        height: 20.5%;
      }
    }
  }
}
