@import '../../scss/custom';

.Logo {
  background-color: #000000d7;
  border-bottom-left-radius: 5px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  width: 50px;
  height: 50px;
  text-align: center;
  border-bottom: solid 0.5px $text-gray;
  border-left: solid 0.5px $text-gray;

  i {
    color: $highlight;
    font-size: 2rem;
  }
}
