@import './scss/custom';

html,
body,
#root,
#root > div {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: $bg-main;
  background-image: url('./bg.png'),
    linear-gradient(
      150deg,
      hsl(0deg 0% 0%) 28%,
      hsl(248, 100%, 5%) 100%,
      hsl(257, 100%, 12%) 100%
    );
}

// animations
@keyframes planetGrow {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
