@import './scss/custom';

html,
body,
#root,
#root > div {
  margin: 0;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
}

@keyframes planetGrow {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
